@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter_google_font{
    font-family: "Inter", sans-serif;
}
:root{
    --gradient_color: linear-gradient(45deg, #F7E93F, #FB09B4, #9100F8);
}

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.display_flex{
    display: flex;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.primary_btn{
    background: var(--gradient_color);
    border: none;
    padding: 12px 16px;
    border-radius: 13rem;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
}
.heading {
    padding: 1.875rem 0;
    font-size: 3.75rem;
    font-weight: 900;
}
/* .bg_gradient_color{
    background: var(--gradient_bg_color);
} */

/* header rerlative style */
header{
    background-color: #1A0B2E;
}
.header_top_part{
    max-width: 1200;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.logo_title{
    font-size: 2rem;
}
.menu{
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    
}
.list_item_link{
    color: #fff;
    font-size: 1rem;
}
